.error {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorTitle {
    padding: 10px;
}

.errorText {
    padding: 10px;
}

.errorLink {
    padding-top: 20px;
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}