
.link {
    color: blue;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEEF3;
}

.text {
    margin-top: 20px;
    margin-bottom: 60px;

}

.header {
    margin-top: 50px;
}