.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.descAndControls {
    display: flex;
    justify-content: space-between;
}

.articleDescription {
    background-color: white;
    margin-top: 26px;
    margin-bottom: 66px;
    padding: 16px;
    width: 938px;
    min-height: 780px;
    box-shadow: 0px 0.61px 2.93px 0px #00000005, 0px 1.46px 7.05px 0px #00000007,0px 2.75px 13.27px 0px #00000009,0px 4.91px 23.68px 0px #0000000B,0px 9.19px 44.28px 0px #0000000D,0px 22px 106px 0px #00000012;
}

.tagsAndTitle {
margin-right: auto;
}

.titleAndLikes {
display: flex;
}

.title {
color: #1890FF;
font-size: 20px;
line-height: 28px;
white-space: pre-wrap;
position: relative;
width: 100%;
}

.likes {
display: flex;
margin: 6px 15px 0 12px;
background-color: white;
border: none;
cursor: pointer;
}

.likes img {
    margin-top: 3px;
}

.likes p {
margin-left: 7px;
font-size: 12px;
line-height: 22px;    
}

.tags {
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}

.tag {
border: 1px solid black;
margin-left: 8px;
border-radius: 2px;
padding: 2px;
opacity: 50%;
}
.tag:first-child {
margin-left: 0;
}

.titleDescription {
    opacity: 50%;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 25px;
    max-width: 682px;
}

.topInfo {
display: flex;
justify-content: flex-end;
}

.author{
display: flex;
justify-content: flex-end;
}
.author img {
border-radius: 23px;
margin-left: 12px;
}

.authorName {
font-size: 18px;
line-height: 28px;
color: #000000;
opacity: 85%;
text-align: end;
white-space: nowrap;
}

.createdAt {
color: #000000;
opacity: 50%;
font-size: 12px;
line-height: 22px;
text-align: end;
}

.titleText {
font-size: 20px;
line-height: 28px;
opacity: 75%;
}

.deleteBtn {
    background-color: white;
    color: red;
    padding: 8px 16px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

.editBtn {
    background-color: white;
    color: #52C41A;
    padding: 8px 16px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
    cursor: pointer;
}

/* modal */
.modalNo {
    background-color: white;
    border: 1px solid #D9D9D9;
    color: #595959;
    padding: 1px 8px;
    line-height: 22px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.modalYes {
    background-color: #1890FF;
    border: 1px solid #1890FF;
    color: white;
    padding: 1px 8px;
    line-height: 22px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}

.modalText {
    display: flex;
} 
.modalText p {
    color: #595959;
    margin-left: 8px;
    line-height: 22px;
    font-size: 14px;
}

.modalText img {
    margin-top: 3px;
}

.modalBtns {
    display: flex;
    justify-content: flex-end;
}
.modal {
    background-color: white;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0px 0.61px 2.93px 0px #00000005, 0px 1.46px 7.05px 0px #00000007,0px 2.75px 13.27px 0px #00000009,0px 4.91px 23.68px 0px #0000000B,0px 9.19px 44.28px 0px #0000000D,0px 22px 106px 0px #00000012;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 83px;
    width: 240px;
    height: 104px;
}

.modalArrow {
    position: absolute;
    left: -6px;
    top: 0;
}

.controlBtns {
    position: relative;
    width: 170px;
}

@media (max-width: 700px) { 
    .articleDescription {
        margin-top: 2.5vw;
        border-radius: 5px;
        margin-bottom: 2.5vw;
        padding: 10px;
        width: 95vw;
        min-height: auto;
    }

    .titleDescription {
        line-height: 18px;
        margin-bottom: 10px;
        min-height: auto;
    }    

    .titleText {
        font-size: 16px;
        line-height: 18px;
        white-space: normal;
    }

    .topInfo {
        flex-direction: column;
        }
    .likes {
        margin: 6px 0;
    }
    .likes p{
        height: 20px;
    }
    .titleAndLikes {
        flex-direction: column;
    }

    .tags {
        margin: 0 0 6px 0;
        overflow-x: scroll;
    }
    .tags::-webkit-scrollbar{
        display:none;
    }
    
    .tags::-webkit-scrollbar-thumb{
        display:none;
    }

    .title {
        width: auto;
    }

    .tagsAndTitle {
        width: 100%;
    }

    .author{
        margin: 6px 0;
        flex-direction: row-reverse;
    }

    .author img {
        margin-right: 12px;
        margin-left: 0;
        }
    .createdAt {
        text-align: start;
    }

    .modal {
        padding: 12px 16px;
        position: absolute;
        bottom: -110px;
        top:auto;
        left: -100px;
    }
    
    .modalArrow {
        position: absolute;
        left: 140px;
        top: -14px;
        rotate: 90deg;
    }
    .descAndControls{
        margin-bottom: 6px;
    }

    .controlBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
    }

    .editBtn {
        margin-top: 6px;
        margin-left: 0;
    }
}