
.header {
    color: #000000D9;
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
    font-family: Inter UI;
    font-size: 18px;
    line-height: 28px;
    justify-content: space-between;
    padding: 8px 22px;
    box-sizing: border-box;
}

.btn {
    width: 109px;
    height: 51px;
    background-color: #FFFFFF;
    margin-left: 19px;
    border: none;
    font-family: Inter UI;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
}

.btnArticle {
    height: fit-content;
    padding: 5px;
    font-size: 14px;
    line-height: 22px;
    background-color: #FFFFFF;
    margin-left: 19px;
    border: none;
    cursor: pointer;
}

.btnProfile{
    padding: 5px;
    background-color: #FFFFFF;
    margin-left: 26px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.btnProfile img {
    height: 46px;
    width: 46px;
    border-radius: 23px;
    margin-left: 12px;
}

.btnLogout {
    margin-left: 26px;
    padding: 12px;
    background-color: #FFFFFF;
    margin-left: 26px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    opacity: 75%;
    
}

.btnActive {
    border-radius: 5px;
    border: 1px solid #52C41A;
    color: #52C41A;
}

.title {
    height: 100%;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}

.link{
    color:black;
    text-decoration:none;
  }

  main {
    min-height: calc(100vh - 80px);
    background-color: #EBEEF3;
  }

  @media (max-width: 580px) { 
    .header {
        padding: 8px 12px;
        font-size: 14px;
        height: 60px;
        width: 100%;
        box-sizing: border-box;
    }

    .btn {
        width: 89px;
        font-size: 14px;
        height: 40px;
        margin: 0;
    }   

    .title {
        text-align: center;
    }

    .btnArticle {
        height: fit-content;
        padding: 5px;
        font-size: 14px;
        line-height: 22px;
        background-color: #FFFFFF;
        margin-left: 19px;
        cursor: pointer;
    }
    
    .btnProfile{
        font-size: 14px;
        line-height: 22px;
        margin-left: 5px;
    }
    
    .btnProfile img {
        height: 28px;
        width: 28px;
        border-radius: 14px;
        margin-left: 6px;
    }
    
    .btnLogout {
        margin-left: 5px;
        padding: 5px;
        font-size: 14px;
        line-height: 22px;
    }
   }

